*{
    margin:0;
    padding:0;
    font-family: Prompt;
    
}
.main{
    background-image: linear-gradient(180deg, rgba(58,69,47,1), rgba(105,120,91,0.8));
}

.header{
    padding-top: 30px;
    /* background-image: linear-gradient(180deg, rgba(58,69,47,1), rgba(105,120,91,0.8)); */
    display:flex;
    justify-content: space-evenly;
}
.header__title{
    color: #EAC174;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.header__move{
    display: flex;
    justify-content: space-around;
}
.header__move a{
    text-decoration: none;
    color:aliceblue;
    font-size: 26px;
}
.header__move a:hover{
    font-weight: bold;
}
.header__button{
    width: 25%;
    height: 60px;
    /* padding: 20px 120px 20px 120px; */
    background-color: white;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10 px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 24px;
    color:#3A452F;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    margin-left: 130px;
}
.header__icon{
    display: flex;
    justify-content: space-around;
}

.container{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
}

.div1{
    display: inline-block;
}
.d11__button{
    width: 70%;
    height: 60px;
    /* padding: 20px 120px 20px 120px; */
    background-color: white;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10 px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 24px;
    color:#3A452F;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    margin-left: 130px;
}
/* .div2{
    width: 1000px;
    height: 80vh;
    background: #B1BE98;
    color:#3A452F;
} */
.c__wrapper{

    width: 1000px;
    /* height: 70vh; */
    background: #B1BE98;
    color:#3A452F;
    padding-top: 40px;
    border-radius: 40px;
    text-align: center;
    align-items: center;
}

.c__row{
    padding: 10px;
    display: flex;
}

.c__form-label{
    min-width: 300px;
    font-size: 20px;
    color:#3A452F;
}


.c__btn{

    width: 25%;
    height: 60px;
    /* padding: 20px 120px 20px 120px; */
    background-color:#3A452F;
    border:none;
    outline: none;
    box-shadow: 0 0 10 px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color:white;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    margin-left: 130px;
    margin-bottom: 20px;
}
.c__btn:hover{
    opacity:0.8;
}

.c__form-input{
    width: 100%;
    height: 60%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 1);
    /* border-radius: 10px; */
    color:white;
    font-size: 20px;
    /* padding: 20px 45px 20px 20px; */
    flex: 1;
}


