*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Prompt;
}

/* navbar */
.navbar{
    background-image: linear-gradient(180deg, #3A452F, #B1BE98);
    display: flex; 
    justify-content: space-between;
    position: relative; 
}
.nav__logo{
    padding-left: 40px;
    padding-top: 10px;
    filter: drop-shadow(0.1em 0.1em 0.09em rgba(0, 0, 0));
}
.nav__list{
    padding-left: 20px;
    padding-top: 30px;
}
.nav__itemv{
    padding-right: 30px;
    font-size: 18px;
    color:#3A452F;
    text-decoration: none;
}
.nav__item {
    padding-right: 30px;
    font-size: 18px;
    color:white;
    text-decoration: none;
}

.nav__itemv:hover{
    color:#12150f;
    font-weight: bold;
}

.nav__item:hover {
    color:#12150f;
    font-weight: bold;
}

/* header */
.header{
    height: 600px;
    background-image: url(image/container-bw.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.header__title{
    padding-left: 50px;
    margin-top:0;
    font-size: 115px;
    color:#EAC174;
    /* filter: drop-shadow(0.02em 0.02em 0.02em rgba(0, 0, 0)); */
    font-family: 'Times New Roman', Times, serif;
}



/* container */

.container{
    background-color: #69785B;
    padding-left: 60px;
}

.c__wrapper{
    width: 91vw;
    /* background-color:#F0D487; */
}
.c__div1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.c__div1-i{
    filter:grayscale();
}
.c__title{
    color: white;
    font-size: 62px;
    margin-top: 0;
    padding-top: 25px;
    margin-bottom: 25px;
    filter: drop-shadow(0.02em 0.02em 0.02em rgba(0, 0, 0));
}
.c__div1-p{
    padding-right: 50px;
    font-size: 20px;
    color:white;
    text-align: justify;
}
.c__p-list{
    color:white;
    list-style: none;
}

.c__button{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.c__btn{
    width: 15%;
    height: 60px;
    background-color: #F0D487;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10 px rgba(0,0,0,.1);
    cursor:pointer;
    color:#3A452F;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
}

.c__btn:hover{
    opacity: 1;
}


/* footer */
.footer {
    height:250px;
    background-color: #3A452F;
    display: flex;
    justify-content: space-evenly;
}

.footer__logo {
    padding-top: 20px;
}
.footer__div1-text {
    margin-top:0;
    list-style-type: none;
    color: white;
    font-size: 20px;
    padding-left: 0;
}
.footer__div2{
    margin-top: 30px;
}
.footer__div2-text{
    padding-left: 0;
}
.footer__div2-healing {
    color: #F0D487;
    font-size: 26px;
}
.footer__div2-text1 {
    text-decoration: none;
    list-style: none;
    color:aliceblue;
    opacity: 0.7;
    font-size: 20px;
}
.footer__div2-text1:hover{
    opacity: 1;
    color: white;
}