*{
    font-family: Prompt;
}

/* navbar */
.navbar{
    background-image: linear-gradient(180deg, #69785B, #B1BE98, #F0D487);
    display: flex; 
    justify-content: space-between;
    position: relative; 
}
.nav__logo{
    padding-left: 40px;
    padding-top: 10px;
    filter: drop-shadow(0.1em 0.1em 0.09em rgba(0, 0, 0));
}
.nav__list{
    padding-left: 20px;
    padding-top: 30px;
}
.nav__itemv{
    padding-right: 30px;
    font-size: 18px;
    color:#3A452F;
    text-decoration: none;
}
.nav__item {
    padding-right: 30px;
    font-size: 18px;
    color:white;
    text-decoration: none;
}

.nav__itemv:hover{
    color:#12150f;
    font-weight: bold;
}

.nav__item:hover {
    color:#12150f;
    font-weight: bold;
}

/* header */
.header{
    height: 600px;
    background-image: url(image/header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.header__text{
    padding-top: 80px;
    padding-left: 60px;
}
.header__text1{
    color:azure;
    text-decoration: none;
    font-size: 30px;
    opacity:0.8;
}
.header__text1:hover{
    font-family: bold;
    color:white;
    opacity:1;

}
.header__title{
    padding-left: 60px;
    margin-top:0;
    font-size: 115px;
    color:#EAC174;
    font-family: 'Times New Roman', Times, serif;
}

/* container1 */

.container1{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    background-color: #69785B;
    padding-top: 62px;
}
.c1__div1{
    width: 411px;
    height: 250px;
    /* background-image: linear-gradient(180,rgba(217,217,217,0.02),rgba(30,30,30,1)), url(container1_1.png); */
    background-image: url(image/container1_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    filter:grayscale();
}
.c1__div-text{
    color:#FFFFFF;
    font-size: 20px;
    vertical-align: bottom;
    padding-top:170px;
    padding-left: 10px;
    text-decoration: none;
    
}
.c1__div-text:hover{
    font-weight: bold;
}
.c1__div2{
    width: 411px;
    height: 250px;
    background-image: url(image/container1_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    filter:grayscale();
    text-decoration: none;
}
.c1__div3{
    width: 411px;
    height: 250px;
    background-image: url(image/container1_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    filter:grayscale();
    text-decoration: none;
}

/* container2 */
.container2{
    height: 80vh;
    background-color: #F0D487;
    /* display: block; */
}
.c2__div1, .c2__div2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    
    /* display: flex;
    justify-content: space-evenly; */
}
.c2__div-image1, .c2__div-image2{
    background-repeat: no-repeat;
    padding-left: 95px;
    padding-top: 35px;
    
}

.c2__div-title{
    color: #3A452F;
    font-size: 26px;
    /* padding-top: 45px; */
    text-decoration: none;
    font-weight:600;
    
}
.c2__div-title:hover{
    font-weight: bold;
    color:#12150f;

}
.c2__div-p{
    color: #3A452F;
    font-size: 20px;
    padding-top: 35px;
    padding-right:95px;
    margin-top: 0;
    text-align: justify;
}



/* footer */
.footer {
    height:250px;
    background-color: #3A452F;
    display: flex;
    justify-content: space-evenly;
}

.footer__logo {
    padding-top: 20px;
}
.footer__div1-text {
    margin-top:0;
    list-style-type: none;
    color: white;
    font-size: 20px;
    padding-left: 0;
}
.footer__div2{
    margin-top: 30px;
}
.footer__div2-text{
    padding-left: 0;
}
.footer__div2-healing {
    color: #F0D487;
    font-size: 26px;
}
.footer__div2-text1 {
    text-decoration: none;
    list-style: none;
    color:aliceblue;
    opacity: 0.7;
    font-size: 20px;
}
.footer__div2-text1:hover{
    opacity: 1;
    color: white;
}
/* mobile */
.nav__bars-btn{
    
    display: none;
}

.nav__overlay{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0, 0, 0,0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}
.nav__mobile{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    width: 320px;
    max-width: 100%;
    background-color:#69785B;
    /* transform: translateX(100%); */
    transition: transform linear 0.2s; 
}

.nav__mobile-close{
    position: absolute;
    top: 24px;
    right: 24px;
}

.nav__mobile-list{
    margin-top: 24px;
    margin-left: 28px;
    text-align: center;
    list-style-type: none;

}
.nav__mobile-item{
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 0;
    font-size: 20px;  
}
.nav__mobile-item:hover{
    font-weight: bold;
}
.nav__input:checked ~ .nav__overlay{
    display: block;
}
.nav__input:checked ~ .nav__mobile{
    transform: translateX(0);
}

@media (max-width: 1023px){
    .nav__bars-btn{
        margin-top: 30px;
        margin-right: 30px;
        display: block;
    }
    .nav__list{
        display: none;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



